
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>

    <div class="form-container" style="border: 2px solid #8B0A1A; border-radius: 10px; padding: 20px; background-color: #F7F7F7; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <div class="input-group d-flex align-items-center">
                    <label for="fechaEntrega" class="form-label me-2" style="margin-top: 4px;">Fecha Entrega</label>
                    <input type="date" class="form-control" id="fechaEntrega" name="fechaEntrega">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group d-flex align-items-center">
                    <label for="fechaSalida" class="form-label me-2" style="margin-top: 4px;">Fecha Salida</label>
                    <input type="date" class="form-control" id="fechaSalida" name="fechaSalida">
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
</div>