@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        <!-- TODO: reederizado de vista parcial: _LayoutPickerDate ==done--></>
        <partial name="_LayoutDatePicker"/> 
    </div>
    <div>
        <!-- reederizado de vista parcial: _LayoutCoches + JavaScript for filtering data--></>
        <partial name="_LayoutDataCars" />
    </div>
</div>
