@{
    Layout = "_Layout1";
}

<!-- SLIDER START -->
<div class="home-slider">
    <!-- BOOK/ENQUIRE FORM START -->
    <div class="main-enquiry clearfix">
        <h4><i class="fa fa-car"></i> <strong>Busqueda de vehículo</strong></h4>

        <form>
            <div class="form-group col-sm-6">
                <input type="text" placeholder="Nombre" class="form-control" />
            </div>

            <div class="form-group col-sm-6">
                <input type="text" placeholder="Apellidos" class="form-control" />
            </div>

            <div class="form-group col-sm-6">
                <input type="text" placeholder="Número de teléfono" id="phone-number" class="form-control" />
            </div>

            <div class="form-group col-sm-6">
                <input type="email" placeholder="Email" class="form-control" />
            </div>

            <div class="form-group col-sm-6">
                <input type="text" placeholder="Fecha de recogida" class="form-control booking-start-date" />
            </div>

            <div class="form-group col-sm-6">
                <input type="text" placeholder="Fecha de devolución" class="form-control booking-end-date" />
            </div>

            <div class="form-group col-sm-12">
                <button class="btn btn-enquiry pull-right" type="submit">Busqueda</button>
            </div>
        </form>
    </div>
    <!-- BOOK/ENQUIRE FORM END -->

    <div class="main-slider hidden-xs owl-carousel">
        <div class="item">
            <img src="img/home_slider/slide_01.jpg" alt="Slider 01">

            <div class="slider-description">
                <h1>Encuentra tu coche ideal</h1>
                <p>Encuentra el coche perfecto para ti. Tenemos una amplia selección de coches de alquiler de calidad para satisfacer tus necesidades.<br /><br /><strong>¡Llámanos ahora! +01 234 567 890</strong></p>
                <a href="#" class="btn">Ver más</a>
            </div>
        </div>

        <div class="item">
            <img src="img/home_slider/slide_02.jpg" alt="Slider 02">

            <div class="slider-description">
                <h1>Las mejores ofertas en coches de alquiler</h1>
                <p>Aprovecha nuestras increíbles ofertas en coches de alquiler. Nuestros precios son competitivos y garantizamos un servicio de calidad.<br /><br /><strong>¡Llámanos ahora! +01 234 567 890</strong></p>
                <a href="#" class="btn">Ver más</a>
            </div>
        </div>

        <div class="item">
            <img src="img/home_slider/slide_03.jpg" alt="Slider 03">

            <div class="slider-description">
                <h1>Paquetes turísticos con servicios de alquiler de coches</h1>
                <p>Explora diferentes destinos con nuestros paquetes turísticos que incluyen servicios de alquiler de coches. Disfruta de la libertad de viajar a tu propio ritmo.<br /><br /><strong>¡Llámanos ahora! +01 234 567 890</strong></p>
                <a href="#" class="btn">Ver más</a>
            </div>
        </div>

        <div class="item">
            <img src="img/home_slider/slide_04.jpg" alt="Slider 04">

            <div class="slider-description">
                <h1>Las mejores ofertas en coches de alquiler</h1>
                <p>Aprovecha nuestras increíbles ofertas en coches de alquiler. Nuestros precios son competitivos y garantizamos un servicio de calidad.<br /><br /><strong>¡Llámanos ahora! +01 234 567 890</strong></p>
                <a href="#" class="btn">Ver más</a>
            </div>
        </div>
    </div>
</div>
<!-- SLIDER END -->
<!-- HOME SNIPPET START -->
<div class="home-snippet">
    <div class="container">
        <section class="row">
            <div class="col-md-12 text-center">
                <h3>Disfruta de un Servicio de Alquiler de Autos Eficiente y Especializado<br />Empresa líder y con costos efectivos de Alquiler de Autos</h3>
            </div>
        </section>

        <section class="row text-center">
            <div class="col-sm-3">
                <i class="fa fa-car fa-2x"></i>
                <h3>Más de 500 vehículos</h3>
                <p>Ofrecemos una amplia variedad de autos para que puedas elegir el indicado. ¡No busques más!</p>
            </div>

            <div class="col-sm-3">
                <i class="fa fa-user fa-2x"></i>
                <h3>3547 clientes satisfechos</h3>
                <p>Con nuestros servicios, nuestros clientes siempre están satisfechos. ¡Únete a ellos hoy!</p>
            </div>

            <div class="col-sm-3">
                <i class="fa fa-star fa-2x"></i>
                <h3>28 sucursales</h3>
                <p>Con nuestras múltiples sucursales, ofrecemos nuestra calidad en todo el país. ¡Encuentra la más cercana y visita hoy!</p>
            </div>

            <div class="col-sm-3">
                <i class="fa fa-user fa-2x"></i>
                <h3>Servicios al cliente 24/7</h3>
                <p>Para cualquier problema, preocupación o consulta, nuestro servicio al cliente siempre está disponible para ayudarte. ¡Contáctanos hoy!</p>
            </div>
        </section>

        <div class="row">
            <div class="col-sm-12 snippet-divider">
                <a href="about_us.html" class="btn snippet-button">Descubre más sobre nosotros</a>
            </div>
        </div>
    </div>
</div>
<!-- HOME SNIPPET END -->
<!-- OFFERS START -->
<div class="offers">
    <div class="container">
        <section class="row">
            <div class="col-md-12 text-center">
                <h3>Nuestras Ofertas Especiales</h3>

                <div class="offers-slider">
                    <div class="item">
                        <div class="latest-ribbon"><span>Novedad</span></div>

                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_01.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_02.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="sale-ribbon"><span>For Sale</span></div>

                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_03.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_04.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="latest-ribbon"><span>Latest</span></div>

                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_05.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_06.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="sale-ribbon"><span>For Sale</span></div>

                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_07.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>

                    <div class="item">
                        <a href="single_vehicle.html"><img class="img-link" src="img/offer_slider/offer_vehicle_08.jpg" alt="Owl Image"></a>

                        <div class="vehicle-details">
                            <span class="vehicle-title">Mercedes Benz</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- OFFERS END -->

<!-- CONTACT ROW START -->
<div class="contact-row">
    <div class="container">
        <section class="row">
            <div class="col-md-8">
                <h4>¿Tiene más preguntas? <a class="btn contact-button" href="contact_us.html">Contáctenos</a></h4>
            </div>

            <div class="col-md-4 social-icons">
                <ul class="list-inline list-unstyled">
                    <li>
                        <a target="_blank" href="#">
                            <img src="img/social_icon/facbook.png" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <img src="img/social_icon/flicker.png" alt="Flicker">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <img src="img/social_icon/gplus.png" alt="Google Plus">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <img src="img/social_icon/tweeter.png" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <img src="img/social_icon/you-tube.png" alt="YouTube">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- CONTACT ROW END -->
