@model AlquileresMVC.Models.Admin.Usuario

<h2>Editar Usuario</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellido1"></label>
        <input asp-for="Apellido1" class="form-control" />
        <span asp-validation-for="Apellido1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellido2"></label>
        <input asp-for="Apellido2" class="form-control" />
        <span asp-validation-for="Apellido2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DNI"></label>
        <input asp-for="DNI" class="form-control" />
        <span asp-validation-for="DNI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="carnetFechaExpedicion"></label>
        <input asp-for="carnetFechaExpedicion" class="form-control" />
        <span asp-validation-for="carnetFechaExpedicion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaNacimiento"></label>
        <input asp-for="FechaNacimiento" class="form-control" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

<a asp-action="Index">Volver a la Lista</a>