
@{
    Layout = "";
}

<div class="hello container-fluid justify-content-between row">
    <div class="hello-left col">
        <p class="hello-hello-font">A pocos pasos de vivir un momentazo.</p>
    </div>
    
    <div class="hello-right col">
        <div class="row">
            <img class="img-fluid rounded" src="https://img.freepik.com/foto-gratis/pareja-recien-casados-dentro-auto-pequeno_23-2149450477.jpg?t=st=1721817493~exp=1721821093~hmac=5015f15499961da5b0ac4d7d9bdca6695465a705e9352420d2b05c7d50ece7b5&w=1800" alt="Alternate Text" />
        </div>
        <div class="row">
            <p class="hello-paragraph-font">Satisface tus ganas de viajar, de vivir y ser libre con nuestro servicio de renting.</p>
        </div>
    </div>
</div>

