
@{
    Layout = "";
}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo space (margin left) -->
        <div class="navbar-brand me-5">
            <img src="https://brandmark.io/logo-rank/random/yc.png" alt="Logo" width="40" height="40">
        </div>

        <!-- Nav links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Vehiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terminos & Condiciones</a>
            </li>
        </ul>

        <!-- Login button (margin right) -->
        <div class="d-flex">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fas fa-tools"></i>
            </button>
        </div>
    </div>
</nav>