.date-picker {
    background-color: #f7f7f7; /* light grey */
    border: 1px solid #ddd; /* dark grey */
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #333; /* black */
}

    .date-picker:focus {
        border-color: #f7f7f7; /* light grey */
        box-shadow: 0 0 0 0.25rem rgba(117, 91, 253, 0.5); /* blue */
    }

    .date-picker::-webkit-calendar-picker-indicator {
        filter: invert(100%); /* invert the calendar icon color to white */
    }

    .date-picker::-webkit-datetime-edit {
        color: #333; /* black */
    }

    .date-picker::-webkit-datetime-edit-fields-wrapper {
        background-color: #f7f7f7; /* light grey */
    }

    .date-picker::-webkit-datetime-edit-text {
        color: #333; /* black */
    }
