
.hello-hello-font {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 8rem;
    font-style: normal;
}

.hello-paragraph-font {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
}

